@page "/products"
@rendermode InteractiveServer

@using BlazorWebAppCRUDServer.Services
@inject IProductService ProductService

<h3>Products</h3>
<a class="btn btn-primary mb-3" href="/products/create">Add New</a>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <button class="btn btn-link p-0" @onclick='() => SortBy("Name")'>
                    Name
                    @(CurrentSortBy == "Name"
                                        ? (CurrentSortDirection == "asc" ? "▲" : "▼")
                                        : "↕")
                </button>
            </th>



            <th>
                <button class="btn btn-link p-0" @onclick='() => SortBy("Description")'>
                    Description
                    @(CurrentSortBy == "Description"
                                        ? (CurrentSortDirection == "asc" ? "▲" : "▼")
                                        : "↕")
                </button>
            </th>

            <th>
                <button class="btn btn-link p-0" @onclick='() => SortBy("Price")'>
                    Price
                    @(CurrentSortBy == "Price"
                                        ? (CurrentSortDirection == "asc" ? "▲" : "▼")
                                        : "↕")
                </button>
            </th>

            <th>
                <button class="btn btn-link p-0" @onclick='() => SortBy("Quantity")'>
                    Quantity
                    @(CurrentSortBy == "Quantity"
                                        ? (CurrentSortDirection == "asc" ? "▲" : "▼")
                                        : "↕")
                </button>
            </th>

            <th></th>
        </tr>
    </thead>
  

    <tbody>
        @if (Products is not null)
        {
            @foreach (var p in Products)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@p.Description</td>
                    <td>@p.Price</td>
                    <td>@p.Quantity</td>
                    <td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="/products/edit/@p.Id">Edit</a>
                        <a class="btn btn-sm btn-danger ms-2" href="/products/delete/@p.Id">Delete</a>
                    </td>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


@code {
    private List<Product> Products = new();
    private string CurrentSortBy = "Name";
    private string CurrentSortDirection = "asc";

    protected override async Task OnInitializedAsync()
    {
        Products = await ProductService.GetProductsAsync(CurrentSortBy, CurrentSortDirection);
    }

    private async Task SortBy(string column)
    {
        if (CurrentSortBy == column)
        {
            CurrentSortDirection = CurrentSortDirection == "asc" ? "desc" : "asc";
        }
        else
        {
            CurrentSortBy = column;
            CurrentSortDirection = "asc";
        }

        Products = await ProductService.GetProductsAsync(CurrentSortBy, CurrentSortDirection);
    }
}